.bg-transparent {
  background-color: grey;
   /* not sure what this does*/ 
}

.border-success {
  border-color:  grey;
  background-color: transparent;
/* This colors the entire block*/ 
}

.card-header {
background-color: lightblue;
border-color:  grey;
text-align: center;

}



#app{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 45px;
  margin-right: 45px;
  height: 200px;
  width: 200px;
  background-color: white;
}

.card{
  margin: 5px;
}
.card-footer {
text-align: center;
background-color: light;
}

.card-body{
  text-align: center;
  background-color: white;
}

.card-text {
  text-align: center;
}


.dog{
background-color: orange;
}

.cat{
  background-color: pink;
}

.dino{
  background-color: blue;
}

.delete{
  background: red;;
}

body{
  background-color: rgb(236, 237, 243);
}

.button{
  display: flex;
  justify-content:  center; 

}

.btn btn-primary{
  margin: 15px;
  padding: auto;
}
